version: '3'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
    - "8080:8080"
    depends_on:
    - mongo
    environment:
    - MONGO_URL=mongodb://mongo:27017/ddtask

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "4200:80"

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    hostname: localhost